## **3. Data Manipulation with pandas**

### **3.1. Transforming DataFrames**

In [1]:
import pandas as pd

Homelessness is a DataFrame containing estimates of homelessness in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

In [2]:
homelessness = pd.read_csv('../datasets/homelessness.csv', index_col = 0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [3]:
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [4]:
# Print the shape of homelessness
print(homelessness.shape)

(51, 5)

In [5]:
# Print a description of homelessness
homelessness.describe().T

,count,mean,std,min,25%,50%,75%,max
individuals,51.0,7.225784e+03,1.599103e+04,434.0,1446.5,3082.0,6781.5,109008.0
family_members,51.0,3.504882e+03,7.805412e+03,75.0,592.0,1482.0,3196.0,52070.0
state_pop,51.0,6.405637e+06,7.327258e+06,577601.0,1777413.5,4461153.0,7340946.5,39461588.0

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

- **values**: A two-dimensional NumPy array of values.
- **columns**: An index of columns: the column names.
- **index**: An index for the rows: either row numbers or row names.

### **3.2. Aggregating DataFrames**

### **3.3. Slicing and Indexing DataFrames**

### **3.4. Creating and Visualizing DataFrames**