## **3. Data Manipulation with pandas**

### **3.1. Transforming DataFrames**

In [11]:
import pandas as pd

Homelessness is a DataFrame containing estimates of homelessness in each U.S. state in 2018. 

The individual column is the number of homeless individuals not part of a family with children. 

The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

In [12]:
homelessness = pd.read_csv('../datasets/homelessness.csv', index_col = 0)
homelessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [13]:
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
None

In [14]:
# Print the shape of homelessness
print(homelessness.shape)

(51, 5)

### **3.2. Aggregating DataFrames**

### **3.3. Slicing and Indexing DataFrames**

### **3.4. Creating and Visualizing DataFrames**